@import '../../../styles/colors'
@import '../../../styles/variables'

.controls
  padding: 0 1rem
  margin-top: 2rem

.boardSections
  display: flex
  justify-content: space-between
  gap: .5rem
  margin: .5rem 0 0

.boardSections > div
  min-width: calc($diceMinWidth + ($diceMargin * 2))
  flex-grow: 1

.board
  border-radius: .25rem
  background-color: $primary-light-color
  padding: .2rem
  justify-content: center
  &:first-child
    background-color: $color-light-orange

.items
  display: flex
  justify-content: center
  padding: .2rem
  gap: .5rem

.item
  display: flex
  align-items: center
  min-width: $diceMinWidth
  div
    width: 100%

.dice
  display: flex
  touch-action: none

.rollBtn
  border: 1px solid $primary-color
  background-color: $primary-color
  border-radius: .25rem
  color: $primary-light-color
  color: #fff
  text-transform: uppercase
  width: 100%
  padding: 1.25rem 0
  margin-top: .5rem
  transition-property: background-color, color, border
  transition-duration: .5s
  transition-timing-function: linear

.rolled
  background-color: $primary-light-color
  border: 1px solid $primary-color
  color: $primary-color

.lastRoll
  background-color: $color-light-orange
  border: 1px solid $color-orange
  color: $primary-color

.locked
  border: 1px solid $color-orange
  background-color: $color-orange
  color: #fff
