@use '../../../styles/colors'
@use '../../../styles/variables'

.controls
  padding: 0 1rem

.boardSections
  display: flex
  justify-content: space-between
  gap: .5rem
  margin: .5rem 0 0

.boardSections > div
  min-width: 15%
  flex-grow: 1

.board
  border-radius: .25rem
  background-color: colors.$primary-light-color
  padding: .4rem .25rem 0 //! mobile safari debug
  &:first-child
    background-color: colors.$color-light-orange

.items
  display: flex
  justify-content: space-around
  gap: .25rem

.dice
  // display: flex //! mobile safari debug
  touch-action: none
  --webkit-touch-callout: none
  svg
    width: 100%
    max-width: variables.$diceMaxHeight
    max-height: variables.$diceMaxHeight

.rollBtn
  border: none
  background-color: colors.$primary-color
  border-radius: .25rem
  color: #fff
  text-transform: uppercase
  width: 100%
  margin-top: .5rem
  min-height: variables.$diceMaxHeight + .5rem
  transition-property: background-color, color, border
  transition-duration: .5s
  transition-timing-function: linear

.rolled
  background-color: colors.$primary-light-color
  border: 1px solid colors.$primary-color
  color: colors.$primary-color

.lastRoll
  background-color: colors.$color-light-orange
  border: 1px solid colors.$color-orange
  color: colors.$primary-color

.locked
  border: 1px solid colors.$color-orange
  background-color: colors.$color-orange
  color: #fff
