@mixin link
  color: $primary-color
  text-decoration-color: $primary-color
  text-decoration-thickness: 1px
  text-underline-offset: 1.75px
  text-decoration-skip-ink: auto
  &:hover
    color: $color-orange
    text-decoration-color: $color-orange
