@mixin link
  color: var(--color-primary)
  text-decoration-color: var(--color-primary)
  text-decoration-thickness: 1px
  text-underline-offset: 1.75px
  text-decoration-skip-ink: auto
  &:hover
    color: var(--color-accent)
    text-decoration-color: var(--color-accent)
