$navbarHeight: 7vh
$desktopPagePadding: 1.5rem
$mobileFramePadding: 1.5rem .5rem
$mobilePagePadding: 5rem
$pageContainerWidth: 25rem

// Screen size breakpoints
$extraSmall: 280px
$small: 414px
$medium: 820px
$large: 1440px
$xlarge: 1920px
$xxlarge: 2560px

// Animation lengths
$defaultAnimLength: .3s
$navMenuOpenTime: .5s

// font sizes
$mediumFontSize: 1.4rem
$xxlargeFontSize: 2rem

// controls
$diceMinWidth: 2.75rem
$diceMaxHeight: 3.5rem
$diceMargin: .1rem

// forms
$formWidth: 18rem
