.logoContainer
  display: flex
  align-items: center
  justify-content: center
  padding: 0.5rem
  position: relative

.logo
  cursor: pointer
  display: flex
  max-width: 2.5rem
  transition: opacity var(--duration-default) ease-in
  svg
    width: 100%
    min-width: 2.5rem
  &:hover
    opacity: .5
