@import '../../styles/colors'
@import '../../styles/variables'

.logo
  cursor: pointer
  display: flex
  max-width: 2.5rem
  transition: opacity $defaultAnimLength ease-in
  margin-right: auto
  svg
    width: 100%
  &:hover
    opacity: .5
