@use '../../styles/variables'

.progressBar
  background-color: var(--color-primary)
  position: fixed
  bottom: 0
  height: .1rem
  transition: width .5s ease-in
  box-shadow: 0px 0px 5px 0px var(--color-primary)
