@import '../../styles/colors'

.progressBar
  background-color: $primary-color
  position: fixed
  bottom: 0
  height: .1rem
  transition: width .5s ease-in
  box-shadow: 0px 0px 5px 0px rgba(171,71,188,1)
