.themeToggleContainer
  button
    display: flex
    align-content: center
    color: var(--color-accent)
    transition: transform var(--duration-default) ease-in
    &:hover
      transform: scale(1.1)
