.themeToggleContainer
  button
    display: flex
    align-content: center
    color: var(--color-primary-muted)
    transition: color var(--duration-default) ease-in, transform var(--duration-default) ease-in
    &:hover
      transform: scale(1.1)
