@use '../../styles/variables' 

.score
  text-align: center
  margin: 0
  display: flex
  align-items: center
  justify-content: center
  color: var(--color-primary)
  font-weight: 400
  font-variant-numeric: tabular-nums
  @media screen and (min-width: variables.$medium)
    margin-left: 1rem

.gameLink
  text-decoration: none

.label
  display: flex
  flex-direction: row
  align-items: center
  margin-right: .5rem
  div
    display: flex
    flex-direction: column
    span
      line-height: 1rem

.dropCap
  font-size: variables.$largeFontSize