@use "../../styles/colors"
@use "../../styles/variables"

.results
  display: flex
  flex-direction: column
  padding-left: 1rem
  justify-content: space-between
  @media screen and (min-width: variables.$medium)
    padding: 0

.name
  margin: .5rem 0
  text-transform: capitalize
  @media screen and (min-width: variables.$medium)
    margin: 0

.score
  display: grid
  grid-template-columns: 2fr repeat(3, 1fr)

.result,
.preliminaryResult
  text-align: center
  display: flex
  justify-content: center
  align-items: center

.preliminaryResult
  color: colors.$color-orange
  font-weight: 450
