@use "../../styles/variables"

.training
  display: grid
  grid-template-columns: repeat(6, 1fr)
  gap: .75rem
  @media screen and (min-width: variables.$medium)
    grid-template-columns: 1fr
    padding: 0
    min-width: 6rem

.qualiResult
  min-height: 6.5rem
  text-align: center
  display: flex
  justify-content: center
  @media screen and (min-width: variables.$medium)
    min-height: auto
    justify-content: flex-start
  div // for the result text
    display: flex
    flex-direction: column
    @media screen and (min-width: variables.$medium)
      flex-direction: row
      align-items: center
    svg
      width: 100%
      max-width: 5rem
      cursor: pointer
      @media screen and (min-width: variables.$medium)
        max-width: 2.5rem
        margin-left: .5rem

.qualiScore
  font-size: 1.8rem
  margin: 0
  overflow: hidden
  line-height: 1.2
  transition: max-height .25s ease, opacity .2s ease, transform .2s ease
  max-height: 0
  opacity: 0
  transform: translateY(-4px) // TODO: doesn't work for desktop, as the width is changing there
  margin-bottom: .25rem
  @media screen and (min-width: variables.$medium)
    margin-bottom: 0
    text-align: right

.visible
  max-height: 2.5rem // slightly above text height
  opacity: 1
  transform: translateY(0)

.hidden
  max-height: 0
  opacity: 0
  transform: translateY(-4px)

svg, .result
  &:hover
    color: var(--color-accent)

.savable
  color: var(--color-accent)
  svg
    color: var(--color-accent)
