@import ../../styles/colors

.training
  display: grid
  grid-template-columns: repeat(6, 1fr)
  gap: .75rem
  padding: 0 1rem

svg
  height: 100%

.result
  min-height: 5.5rem
  text-align: center
  margin-bottom: .5rem

svg, .result
  transition: color .25s linear
  color: $primary-color
  &:hover
    color: $color-orange

.pre
  color: $color-orange
  font-weight: 450
