@import ../../styles/colors

.training
  display: grid
  grid-template-columns: repeat(6, 1fr)
  gap: .75rem
  padding: 0 1rem
  svg
    color: $primary-color
    height: 100%
    &:hover
      color: $primary-light-color

.result
  min-height: 2rem
  text-align: center
  margin-bottom: .5rem

.pre
  color: $color-orange
  font-weight: 450
