@use '../../styles/colors'
@use '../../styles/variables'

.nav
  height: variables.$navbarHeight // TODO: mobile navbar height
  min-height: variables.$navbarHeight
  width: 100%
  padding: 0 1.5rem
  padding: 0
  display: flex
  justify-content: flex-end
  align-items: center
  position: sticky
  top: 0px
  z-index: 2
  background-color: white
  box-shadow: 0px 0px 11px 0px #0000003a
  transition: opacity variables.$defaultAnimLength, top variables.$defaultAnimLength
  @media (prefers-color-scheme: dark)
    background-color: colors.$dark-gray

.hiddenNav
  top: -(variables.$navbarHeight)
  opacity: 0

.visibleNav
  top: 0px
  opacity: 1

.overlay:empty:before
   content: ''

.overlay
  position: fixed
  z-index: 1
  width: 100vw
  height: 0
  opacity: 0
  overflow: hidden
  // delay!
  transition: height 0s variables.$navMenuOpenTime, opacity variables.$navMenuOpenTime
  background-color: rgb(255 255 255 / 0.3)
  backdrop-filter: blur(1px)

.openOverlay
  height: 100vh
  opacity: 1
  transition: height 0s, opacity variables.$navMenuOpenTime

.navigationContainer
  width: 100%
  display: flex
  align-items: center
  height: 100%
  padding: 0 1rem
  border: none

.user
  display: flex
  width: 100%
  justify-content: center
  gap: .75rem
  align-items: center
  svg
    width: 100%
    height: 100%
    max-width: 1.5rem
    color: colors.$primary-color

.linksContainer
  display: flex
  flex-direction: column
  position: fixed
  top: 0
  right: 0
  bottom: 0
  margin-left: auto
  padding: 0
  width: 50vw
  transform: translate(60vw)
  transition: transform variables.$navMenuOpenTime ease-out
  margin-top: variables.$navbarHeight
  background-color: white
  @media (prefers-color-scheme: dark)
    background-color: colors.$dark-gray
  &.open
    transform: translate(0vw)
  @media screen and (min-width: variables.$medium)
    transform: translate(0vw)
    flex-wrap: nowrap
    padding: 0
    margin: 0
    position: static
    flex-direction: row
    z-index: inherit
    height: 100%
    width: auto

.toggleBtnContainer
  margin-left: auto
  min-width: 40px // logo width
  text-align: right
  @media screen and (min-width: variables.$medium)
    display: none
    visibility: hidden

.navLink
  text-decoration: none
  margin: .3rem 0
  margin-left: 2rem
  display: flex
  align-items: center
  color: colors.$primary-color
  @media (prefers-color-scheme: dark)
    color: inherit
  @media screen and (min-width: variables.$medium)
    height: 100%
    padding: 0 1rem
    margin: 0
  &:first-child
    margin-top: 1.25rem
    @media screen and (min-width: variables.$medium)
      margin-top: inherit
  &:hover
    cursor: pointer
    color: colors.$color-orange
    text-decoration: underline

.current
  color: colors.$color-orange

.navLink, .userName
  font-weight: 450
  font-size: 1.3rem
  letter-spacing: .05rem
  @media screen and (min-width: variables.$medium)
    font-size: 1rem
  @media screen and (min-width: variables.$xlarge)
    font-size: 1.5rem

.userName
  text-decoration: none
  font-size: variables.$middleFontSize
  color: colors.$primary-color
  &:hover
    color: colors.$color-orange
