@use '../../styles/variables'

.nav
  height: variables.$navbarHeight // TODO: mobile navbar height
  min-height: variables.$navbarHeight
  width: 100%
  padding: 0 1.5rem
  padding: 0
  display: flex
  justify-content: flex-end
  align-items: center
  position: sticky
  top: 0px
  z-index: 2
  background-color: var(--color-surface)
  box-shadow: 0px 0px 11px 0px var(--color-shadow)
  transition: opacity var(--duration-default), top var(--duration-default)

.hiddenNav
  top: -(variables.$navbarHeight)
  opacity: 0

.visibleNav
  top: 0px
  opacity: 1

.overlay:empty:before
   content: ''

.overlay
  position: fixed
  z-index: 1
  width: 100vw
  height: 0
  opacity: 0
  overflow: hidden
  // delay!
  transition: height 0s var(--duration-nav-open), opacity var(--duration-nav-open)
  background-color: var(--color-overlay)
  backdrop-filter: blur(1px)

.openOverlay
  height: 100vh
  opacity: 1
  transition: height 0s, opacity var(--duration-nav-open)

.navigationContainer
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  height: 100%
  padding: 0 1rem

.linksContainer
  display: flex
  flex-direction: column
  position: fixed
  top: 0
  right: 0
  bottom: 0
  margin-left: auto
  padding: 0
  width: 50vw
  transform: translate(60vw)
  transition: transform var(--duration-nav-open) ease-out
  margin-top: variables.$navbarHeight
  background-color: var(--color-surface)
  &.open
    transform: translate(0vw)
  @media screen and (min-width: variables.$medium)
    transform: translate(0vw)
    flex-wrap: nowrap
    padding: 0
    margin: 0
    position: static
    flex-direction: row
    z-index: inherit
    height: 100%
    width: auto

.toggleBtnContainer
  display: flex
  gap: 1rem
  @media screen and (min-width: variables.$medium)
    margin-left: auto

.navLink
  text-decoration: none
  margin: .5rem 0
  margin-left: 2rem
  display: flex
  align-items: center
  color: var(--color-primary)
  transition: color .25s linear
  @media screen and (min-width: variables.$medium)
    height: 100%
    padding: 0 1rem
    margin: 0
  &:first-child
    margin-top: 1.25rem
    @media screen and (min-width: variables.$medium)
      margin-top: inherit
  &:hover
    cursor: pointer
    color: var(--color-accent)
    text-decoration: underline

.disabled
  color: var(--color-primary-light)
  pointer-events: none
  &:hover
    cursor: default
    text-decoration: none

.current
  color: var(--color-accent)

.navLink, .userName
  font-weight: 450
  font-size: 1.3rem
  letter-spacing: .05rem
  @media screen and (min-width: variables.$medium)
    font-size: 1rem
  @media screen and (min-width: variables.$xlarge)
    font-size: 1.5rem

.navLink
  font-size: 1rem

.version
  margin-left: 2rem
  font-size: .6rem
  color: var(--color-primary)
  @media screen and (min-width: variables.$medium)
    margin: 0
    margin-top: .75rem
