@use '../styles/colors'
@use '../styles/variables'

.game
  font-weight: 300
  font-size: 1.3rem
  color: colors.$primary-color
  display: flex
  flex-grow: 1
  flex-direction: column
  justify-content: center
  position: sticky
  height: 100%
  @media screen and (min-width: variables.$medium)
    max-width: variables.$pageContainerWidth
    margin: 1rem auto
    max-height: variables.$mockFrameHeight // mock frame height
  h1
    text-align: center
    margin: 0
    font-weight: 350

.frame
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: -1
  display: none
  @media screen and (min-width: variables.$medium)
    display: inline-block

.content
  display: flex
  flex-direction: column
  justify-content: space-evenly
  height: 100%
  @media screen and (min-width: variables.$medium)
    padding: 2rem 1.5rem 0
    border-radius: 4rem
    box-shadow: 14px 16px 28px -14px #b989c2
  &:last-child
    position: relative
    bottom: 0
  
.phone
  width: 100%
  min-width: variables.$pageContainerWidth
  object-fit: contain
  svg
    min-width: variables.$pageContainerWidth
