@import '../styles/colors'

.game
  padding-top: 1.5rem
  h1
    text-align: center
.dice
  height: 3rem
  width: 100%
  display: flex
  justify-content: space-around
  svg
    color: $primary-color
    height: 100%
    &:hover
      color: $primary-light-color
