@use '../styles/variables'
@use '../styles/colors'
@use '../styles/mixins'

.container
  margin-top: variables.$mobilePagePadding
  h1
    text-align: center
  aside
    text-align: right
    max-width: variables.$formWidth
    margin: 1rem auto
    
.link
  font-size: .8rem
  color: colors.$primary-color
  margin-left: auto
  @include mixins.link
