@use '../styles/variables'
@use '../styles/mixins'

.container
  h1
    text-align: center
  aside
    text-align: right
    max-width: variables.$formWidth
    margin: 1rem auto
    
.link
  font-size: .8rem
  color: var(--color-primary)
  margin-left: auto
  @include mixins.link
