@import '../styles/colors'

.container
  margin-top: 3rem
  h1
    text-align: center
    margin-bottom: 0

.logo
  max-width: 8rem
  margin: auto

.ctaContainer
  p
    padding: 0 1rem
    line-height: 1.3rem
