@import '../styles/colors'
@import '../styles/mixins'

.container
  margin-top: 3rem
  h1
    text-align: center
    margin-bottom: 0

.logo
  max-width: 8rem
  margin: auto

.intro
  max-width: 22rem
  margin: 0 auto
  p
    padding: 0 1rem
    line-height: 1.3rem
  a
    @include link
