@use '../styles/mixins'
@use '../styles/variables'

.logo
  max-width: 10rem
  width: 100%
  margin: 0 auto 1rem

.intro
  max-width: variables.$formWidth
  margin: 0 auto
  p
    margin: .5rem auto .5rem
    line-height: 1.25rem
  a
    @include mixins.link

aside
  text-align: right
  margin-top: 1rem
