@use '../styles/variables'

.container
  margin-top: variables.$mobilePagePadding
  h1
    text-align: center

.text
  max-width: variables.$formWidth
  margin: auto
  margin-top: 3rem
  font-size: .8rem
