@use '../styles/variables'
@use '../styles/mixins'

.text
  max-width: variables.$formWidth
  font-size: .8rem
  text-align: left
  line-height: 1.5

.linkButton
  background: none
  border: none
  padding: 0
  font-size: inherit
  cursor: pointer
  text-decoration: underline
  @include mixins.link
