@use '../styles/variables'

.content
  max-width: variables.$formWidth
  margin: 1rem auto 0
  display: flex
  flex-direction: column
  gap: 2rem

.setting
  display: flex
  flex-direction: column
  gap: .25rem

.label
  font-weight: 600
  color: var(--color-primary)

.hint
  font-size: .8rem
  color: var(--color-text-body)
  line-height: 1.4
  margin: 0 0 .25rem
