@import '../styles/colors'
@import '../styles/variables'

.container
  padding: $mobilePagePadding 1rem $mobilePagePadding
  max-width: $pageContainerWidth
  margin: 0 auto
  h1, h2
    color: $dark-gray
  h2
    font-size: 1.25rem
    margin: 3rem 0 0
  h3
    margin-top: 1rem
    color: $light-color
  a
    color: $primary-color
  ul
    padding-left: 2rem
    li
      padding: .4rem 0
  p
    line-height: 1.5rem

.text
  max-width: $formWidth

.dateStamp
  font-size: .8rem
  text-align: right
  margin: 0 0 2rem

.pageHeading
  text-align: center

strong
  color: $primary-color
  font-weight: 450
