@use '../styles/variables'

.container
  width: 100%
  border: 1px solid var(--color-primary-light)
  margin: 0 auto
  height: 100%
  min-height: calc(100dvh - var(--navbar-height))
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  h1, h2
    color: var(--color-text-heading)
    text-align: center
  h1
    margin: 0rem
  h2
    font-size: 1.25rem
    margin: 3rem 0 0
  h3
    margin-top: 1rem
    color: var(--color-text-body)
  a
    color: var(--color-primary)
  ul
    padding-left: 2rem
    li
      padding: .4rem 0
  p
    line-height: 1.4rem

.text
  max-width: variables.$formWidth

.dateStamp
  font-size: .8rem
  text-align: right
  margin: 0 0 2rem
  color: var(--color-primary)

.pageHeading
  text-align: center

strong
  color: var(--color-primary)
  font-weight: 450

// text-heavy pages that should not be centered by the centeredContent flex container
.contentPage
  align-self: flex-start
  width: 100%
  max-width: variables.$desktopTextPagewidth
  padding: var(--navbar-height) 1rem 2rem
  margin: auto

  @media screen and (min-width: variables.$medium)
    padding: calc(var(--navbar-height) + 3rem) 1rem 5rem

.tooltipIcon
  color: var(--color-primary)
  width: 100%
  max-width: 1em
