@use '../styles/variables'

.statsPage
  width: 100%
  max-width: variables.$desktopTextPagewidth

.stats
  h1
    color: var(--color-primary)
  h1, h2, h3, h4
    text-align: center
    margin: .5rem 0
    span
      color: var(--color-accent)
  h2
    font-size: 1.4rem
  h4
    font-size: 1rem
  aside
    margin-top: 3rem

.threeNums
  display: inline-block
  width: 3ch

.noGames
  color: var(--color-text-dim)

.hChart, .sChart
  margin: 0 auto
  height: 10rem
  border-radius: .25rem
  margin-bottom: 1rem

.sChart
  height: 25rem

.radarChartContainer
  width: 100%
  max-width: 25rem
  margin: 0 auto

.chartTypeSelect
  width: 100%
  max-width: 12rem
  margin: 0 auto 1rem
  text-align: left

.legend
  display: flex
  justify-content: center
  align-items: center
  gap: .5rem
  width: 15%
  margin: 0 auto

  span
    font-size: .8rem
    color: var(--color-text-dim)
    margin-bottom: .2rem
    
.lineContainer
  display: flex
  align-items: center
  width: 100%
