@import '../styles/colors'

.container
  margin-top: 4rem
  padding: 0 1rem
  h1
    text-align: center

.chart
  max-width: 25rem
  margin: 0 auto
  height: 15rem
  border: 1px solid $primary-light-color
  border-radius: .25rem
