@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-VariableFont_wght.ttf')
    format('truetype-variations');
  font-weight: 250 450;
  font-display: swap;
}

html {
  overscroll-behavior: none;
}

body {
  font-family: 'Quicksand';
  box-sizing: border-box;
}

main {
  height: 100vh;
}

h1,
h2 {
  letter-spacing: 0.035rem;
}

button {
  font-family: 'Quicksand';
  letter-spacing: 0.05rem;
}
