@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-VariableFont_wght.ttf') format('truetype-variations');
	font-weight: 250 450;
  font-display: swap;
}

body {
  font-family: 'Quicksand';
  box-sizing: border-box;
}

h1, h2 {
  letter-spacing: .035rem;
}
