.multiplayerStats
  h2
    font-size: 1.2rem
    text-align: center
    color: var(--color-primary)
    margin-top: 1rem
  div
    display: flex
    justify-content: center
    gap: 1rem
  p
    margin: 0
    color: var(--color-text-dim)
    font-size: .9rem
