.multiplayerStats
  h2
    font-size: 1.2rem
    text-align: center
    color: var(--color-primary)
    margin-top: 1rem
    margin-bottom: 0.2rem
    font-weight: 450
  h3
    font-size: .9rem
    font-weight: 450
    color: var(--color-primary)
    margin-bottom: .2rem
  div
    display: flex
    justify-content: center
    gap: 1rem
  p
    margin: 0
    color: var(--color-text-dim)
    font-size: .9rem

.lastGame
  text-align: center
  margin-top: 0

.accent
  font-size: .9rem
  color: var(--color-accent)
